.title h5{
    text-align: center;
}
.or{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.log {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.txt a{
    text-decoration: none;
}


